#player {
    width: 100%;
    height: 140px;

    box-sizing: border-box;

    padding-top: 10px;
    padding-bottom: 10px;

    position: fixed;
    top: 0px;
    left: 0px;

    display: grid;
    grid-template-columns:
        /* buttons */
        auto
        /* play time */
        4fr
        /* volume */
        1fr
        /* play rate */
        1fr;
}

#currentTrackText {
    grid-column: 1/5;

    display: grid;
}

#currentTrackText>span {
    text-align: center;
}

#currentTrackNameText {
    grid-row: 1;
}

#currentTrackArtistText {
    grid-row: 2;
}

#currentTrackAlbumText {
    grid-row: 3;
}

#playerButtons,
#playTime,
#volume,
#playRate {
    grid-row: 2;
    padding-left: 10px;
    padding-right: 10px;
}

#playerButtons {
    padding-left: 10px;
    padding-right: 10px;
}

#playTime,
#volume,
#playRate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    flex: 1 0 auto;
    width: 100%;
}

.sliderText {
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
}

main {
    /* match player height, sidebar width */
    margin-top: 140px;
    margin-right: 20%;
}

#rightSidebar {
    width: 20%;
    /* make height and top offset match height and padding of player */
    height: calc(100% - 140px);

    box-sizing: border-box;

    position: fixed;
    top: 140px;
    right: 0px;

    overflow: auto;
}